nav{
    font-family: 1.5em;
    font-family: 'Raleway';
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: 1.6666%;
    padding: 1.2em 0;
}
img{
    width: 30% ;
    margin: 1.66666666%;
}