.body{
  font-family: "Avenir Next";
  }
  /*header */
  .header{
  background-color: #26d0c9;
  height: 90px;
  color: #fff;
  margin: 0px;
}
.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list{
  float: left;
}
li{
  list-style: none;
}
.header-list li{
  float: left;
  padding: 33px 20px 33px 20px;
}

/*main*/
.main{
  padding-top: 100px 80px ;
  font-style:normal;
  margin-left: 80px;
}


.main-heading h1{
  font-size: 140px;
}
.main-heading span{
  color: #ff4a4a;
}
.main h2{
  font-size: 60px;
}
.contents-title{
  font-size: 30px;
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 30px;
}
.contents{
  height: 500px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.contents-list{
  float: left;
  padding: 10px 15px 10px 15px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.contents-list p{
  text-align: center;
  font-size: 20px;
}


.contact-form{
  padding-top: 100px;
}
.section-title{
  font-size: 30px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contact-form p{
  font-size: 20px;
}
input, textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border:1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

/*footer*/
.footer{
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  margin: 0px;
}
.footer-logo{
  float: left;
  font-size: 32px;
  padding: 40px;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom: 20px;
}
